.container button {
    width: 100%;
    max-width: 240px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ebebf0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
}
.container button.white:hover > p {
    color: #ebebf0;
}
.container button.white > p {
    background: #7305e8;
    color: #ebebf0;
}
.container button.white > p span.base {
    border: 1px solid transparent;
}
.container button.transparent:hover > p {
    color: #ebebf0;
}
.container button.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #7305e8;
}
.container button.transparent > p {
    background: #0f1923;
    color: #ebebf0;
}
.container button.transparent > p span.base {
    border: 1px solid #7305e8;
}
.container button:after,
.container button:before {
    content: '';
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.container button:before {
    right: 0;
    left: initial;
}
.container button p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container button p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
}
.container button p span.base:before {
    content: '';
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
}
.container button p span.bg {
    left: -5%;
    position: absolute;
    background: #4d039c;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
}
.container button p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.container button p span.text:after {
    content: '';
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
}
.container button:hover {
    color: #ebebf0;
}
.container button:hover span.bg {
    width: 110%;
}
.container button:hover span.text:after {
    background: #7305e8;
}
