body {
    background-color: #230048;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #2d025c;
}

::-webkit-scrollbar-thumb {
    background-color: #7305e8;
    border-radius: 20px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4d039c;
}
